#body{
    background-color: skyblue;
    color: black;
}
.H {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}
.T {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
